@using Microsoft.AspNetCore.Identity
@inject SignInManager<IdentityUser> SignInManager

@if (SignInManager.IsSignedIn(User))
{
    <div class="user-actions">
        <span class="user-chip"><span class="user-avatar">@((User.Identity?.Name ?? "U").Substring(0, 1).ToUpperInvariant())</span><span class="user-email">@User.Identity?.Name</span></span>
        <form asp-controller="Account" asp-action="Logout" method="post">
            <button type="submit" class="icon-button" title="Sign out" aria-label="Sign out"><i class="fa-solid fa-arrow-right-from-bracket"></i></button>
        </form>
    </div>
}
else
{
    <div class="guest-actions">
        <a asp-controller="Account" asp-action="Login" class="header-login">Sign in</a>
        <a asp-controller="Account" asp-action="Register" class="btn btn-brand btn-sm">Get started <i class="fa-solid fa-arrow-right"></i></a>
    </div>
}
